.auth {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100vh;
}

.auth-image-container {
    width: 50%;
    height: 100%;
    position: relative;
}

.auth-image-container:after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(32, 36, 49, 0) 80%, rgb(32, 36, 49));
    top: 0;
    left: 0;
    z-index: 1;
    position: absolute;
}

.auth-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.auth__form {
    padding: 20px 0;
}

.password-group {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 4px;
}

@media (max-width: 768px) {
    .auth-image-container {
        display: none;
    }
}