:root {
    --primary: #2d4cb1;
    --accent: #31AAF1;
    --foreground: #202431;
    --background: white;
    --card: #ededed;
    --layout: #bee1ff;
    --text-muted: #69709c;
    --green: #4BC832;
}