:root {
    --primary: #2d4cb1;
    --accent: #31AAF1;
    --foreground: white;
    --background: #202431;
    --card: #283245;
    --layout: #222B3A;
    --text-muted: #8A91B3;
    --green: #4BC832;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--foreground);
}

button, .btn {
    border: none;
    background-color: var(--primary);
    height: 52px;
    width: 100%;
    color: white;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 36px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover, .btn:hover {
    color: white;
    background-color: var(--accent);
}

.btn-lg {
    height: 64px;
    padding: 20px 48px;
    width: auto;
}

input, select, textarea {
    border: none;
    background-color: var(--card);
    color: var(--text-muted);
    height: 52px;
    width: 100%;
    border-radius: 4px;
    outline: none;
    padding: 0 12px;
    font-size: 18px;
}

select {
    cursor: pointer;
}

input:focus, textarea:focus {
    border: 1px solid var(--accent);
}

.input-lg {
    height: 64px;
    width: auto;
}

input[type=checkbox] {
    display: inline;
    appearance: none;
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

input[type=checkbox]:before {
    background-color: var(--card);
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
}

input[type=checkbox]:checked:after {
    content: '';
    background-color: var(--accent);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    z-index: 10;
    border-radius: 1000px;
}

label:has(input[type=file]) {
    height: 200px;
    width: 100%;
    background-color: var(--card);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

input[type=file] {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 290px;
}

a {
    text-decoration: none;
    color: var(--accent);
    transition: 0.3s    ;
}

a:hover {
    color: #15e2fd;
}

.center {
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h2 {
    margin-bottom: 20px;
}

.form-or {
    margin-top: -8px;
}

header {
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    background-color: var(--layout);
}

nav {
    display: flex;
    gap: 24px;

}

nav a {
    color: var(--foreground);
}

.section-container {
    padding: 80px 32px;
}

.input-group {
    display: flex;
}

.tag {
    padding: 8px 22px;
    color: var(--text-muted);
    background-color: var(--card);
    border-radius: 4px;
}

.games-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 20px
}

.game-card {
    display: flex;
    background-color: var(--layout);
    border-radius: 12px;
}

.game-card__image {
    width: 360px;
    height: 260px;
    object-fit: cover;
}

.game-card__information {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
    padding: 21px 16px;
    width: 100%;
}

.game-card__stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.game-card__stat {

}

.price {
    color: var(--green);
    font-size: 24px;
    font-weight: 600;
}

.game-card__raiting {

}

.dots {
    display: flex;
    gap: 4px;
}

.dot {
    height: 8px;
    width: 15px;
    background-color: var(--card);
    border-radius: 4px;
}

.dot--active {
    width: 50px;
    background-color: var(--primary);
}

.text-muted {
    color: var(--text-muted);
}

footer {
    display: flex;
    background-color: var(--layout);
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
}

.footer__block {
    display: flex;
    flex-direction: column;
}

footer a {
    color: var(--text-muted);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}

.logo {
    width: 72px;
    height: 72px;
}

.w-fit {
    width: fit-content;
}

.menu {
    display: none
}

@media (max-width: 1024px) {
    .menu {
        display: block;
    }

    nav {
        display: none;
    }
}

@media (max-width: 768px) {
    .advatages-list {
        justify-content: center !important;
    }

    .game-card {
        flex-direction: column;
        width: 100%;
    }

    .game-card__image {
        width: 600px;
        max-width: 100%;
        height: auto;
    }

    .partners-list img{
        width: 100%;
    }

    .games-list {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .section-container {
        padding: 40px 12px;
    }

    h2 {
        text-align: center;
    }
}
